#related-posts{
	position: relative;
}
.blog-post-content ~ div{
	margin-top: 2em;
}

#related-posts .blog-post-img-link {
	height: 10em;
	margin-left: 0px;
	margin-right: 0px;
}

#related-posts .blog-post-img-link {

	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.blog-content{
	margin-top: 1em;
}
.blog-content p:first-of-type::first-letter{
	font-size-adjust: 1.2;
}

.blog-post-img-link {
	height: 32em;
	margin-left: -15px;
	margin-right: -15px;
}

.blog-post-img::after {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}
#comments h3:first-of-type
{
	font-size: 24px;
}



@media(max-width:575px){
	.blog-post-img-link {
		height: 16em;
		

	}
}